/* styles specific for terms and conditions, privacy policy */

/* terms and conditions */
strong {
  font-weight: bold;
}

p {
  margin-bottom: 1em;
  font-size: 1.125rem;
  line-height: 1.625rem;
}

.col-lg-10 ul,
.col-lg-10 ol {
  padding-left: 1.5em;
  list-style-position: inside;
  list-style-type: disc;
  margin-bottom: 1em;
  line-height: 1.625rem;
}
