/* styles specific for terms and conditions, privacy policy */

/* terms and conditions */
strong {
  font-weight: bold;
}

p {
  margin-bottom: 1em;
  font-size: 1.125rem;
  line-height: 1.625rem;
}
